
/* #splash {
    background: linear-gradient(89.86deg, #5940f1 8.6%, #ce00ff 99.86%);
    position: relative;
    padding-bottom: 2em;
    margin-top: 0 !important;
} */

body{
    font-family: 'Dosis', sans-serif;
}

article>h1.wp-block-heading {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

article>h2.wp-block-heading {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

article>h3.wp-block-heading {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

article>h4.wp-block-heading {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

article>h5.wp-block-heading {
    font-size: 0.5rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: 200;
}

article>h6.wp-block-heading {
    font-size: 0.25rem;
    line-height: 1;
    margin-bottom: 1.5rem;
    font-weight: 100
}

article>p {
    margin-bottom: 1.5rem;
}

article>p>a {
    color: #9333ea;
}

.dropdown:is(:not(details)) .dropdown-content {
    visibility: visible !important;
    opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
